<style>
    .container {width: 100%;margin: auto;}
    @media (min-width:600px) {.container {width: 80%;}}
    @media (min-width:768px) {.container {width: 60%;}}
    @media (min-width:1024px) {.container {width: 65%;}}
</style>

<div class="container">
<h2>Welcome to Gim's Generative AI, my name is GimAI(k), may I know your name?</h2>
<img src="https://www.ntu.edu.sg/images/librariesprovider84/nbs-ug/chua-gim-aik.png?sfvrsn=f7a7f4d8_0"
    width="240" height="240">
<form action="/key" method="post">
    <p><input type="text" name="name"></p>
    <p><input type="submit" value="Enter"></p>
</form>
</div>