<style>
    .container {width: 100%;margin: auto;}
    @media (min-width:600px) {.container {width: 80%;}}
    @media (min-width:768px) {.container {width: 60%;}}
    @media (min-width:1024px) {.container {width: 65%;}}
</style>

<div class="container">
<p><h2>Hi, {{r}}. Before we continue, please enter your API keys for MakerSuite and Replicate to ensure that everything works properly!</h2></p>
<form action="/keyconfig" method="post">
    <p>Maker Suite API key: </p>
    <p><input type="text" name="mkey"></p>
    <p>Replicate API key: </p>
    <p><input type="text" name="rkey"></p>
    <p><input type="submit" value="Enter"></p>
<form action="/" method="post">
    <p><input type="submit" value="Restart"></p>
</form>
</div>